<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone_Directory</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <a href="book">Front</a>
    <div class="container">
        <header>
            <img src="images/pb_icon.svg" alt="Phone Book Icon" class="logo">
            <nav>
                <a href="#" class="hidedesk">
                    <img src="images/ham.svg" atl="MENU" class="menu" id='menu'>
                </a>
                <ul class='hidemob' id='nav'>
                    <li id='exit' class="exit_btn hidedesk"><img src="images/exit.svg" alt="Exit Button"></li>
                    <li><a href ="#"> Home </a></li>
                    <li><a href ="#"> About </a></li>
                    <li><a href ="#"> Contact </a></li>
                    <li><a href ="#"> Login/SignUp </a></li>
                </ul>
            </nav>
        </header>
        <section>
            <img src="images/pb_img.svg" alt="PhoneBook Photo" class="pb_img">
            <h1>Phone Book</h1>
            <p class="subhead">A Interacttive Phone Book That Kepps All Your Contact Information.</p> 
        </section>
    </div>

    <div class="black_container">
        <div class="container">
            <ul class="flxabv">
                <li>
                    <a href="/add"><img src="images/add.png" alt="Add Button" class="choose_img"></a>
                    <p>Add a contact in your Directory</p>
                </li>
                <li>
                    <a href="#"><img src="images/del.png" alt="Delete Button" class="choose_img"></a>
                    <p>Remove a contact from your Directory</p>
                </li>
                <li>
                    <a href="#"><img src="images/search.png" alt="Search Button" class="choose_img"></a>
                    <p>Search a contact in your Directory</p>
                </li>
                <li>
                    <a href="#"><img src="images/update.png" alt="Update Button" class="choose_img"></a>
                    <p>Add a contact in your Directory</p>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <div class="footer-cont">
            <div class="container">
                <a href="#"><img src="images/pb_icon.svg" alt="Logo" class="logo"></a>
                <p class="address">3rd Floor, Sona Towers,<br>
                                   Hosur Rd, Industrial Area, Krishna Nagar,<br>
                                   Bengaluru,<br>
                                   Karnataka,<br>
                                   560029
                </p>
                <ul class='footer-line'>
                    <li><a href="#" class="gcol">Go to Top</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script>
        var menu=document.getElementById('menu');
        var nav=document.getElementById('nav');
        var exit=document.getElementById('exit');
        menu.addEventListener('click',function(e){
            nav.classList.toggle('hidemob');
        });
        exit.addEventListener('click',function(e){
            nav.classList.toggle('hidemob');
        });
    </script>
</body>
</html>