<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone_Directory</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>    
    <div class="container">
        <header>
            <img src="images/pb_icon.svg" alt="Phone Book Icon" class="logo">
            <nav>
                <a href="#" class="hidedesk">
                    <img src="images/ham.svg" atl="MENU" class="menu" id='menu'>
                </a>
                <ul class='hidemob' id='nav'>
                    <li id='exit' class="exit_btn hidedesk"><img src="images/exit.svg" alt="Exit Button"></li>
                    <li><a href ="/"> Home </a></li>
                    <li><a href ="#"> About </a></li>
                    <li><a href ="#"> Contact </a></li>
                    <li><a href ="/phone_dic"> Show PhoneBook </a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="blbx">
        <img src="images/us.png" alt="Page under Construction" class="us">
        <h1>Sorry!!!! Page Under-Construction</h1>
        <h3>We'll be Live Soon..</h3>
    </div>
    <footer>
        <div class="footer-cont">
            <div class="container">
                <a href="#"><img src="images/pb_icon.svg" alt="Logo" class="logo"></a>
                <p class="address">3rd Floor, Sona Towers,<br>
                                    Hosur Rd, Industrial Area, Krishna Nagar,<br>
                                    Bengaluru,<br>
                                    Karnataka,<br>
                                    560029
                </p>
                <ul class='footer-line'>
                    <li><a href="#" class="gcol">Go to Top</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script>
        var menu=document.getElementById('menu');
        var nav=document.getElementById('nav');
        var exit=document.getElementById('exit');
        menu.addEventListener('click',function(e){
            nav.classList.toggle('hidemob');
        });
        exit.addEventListener('click',function(e){
            nav.classList.toggle('hidemob');
        });
    </script>