body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: .9em;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.container{
    text-align:center;
    padding:.8em 1.2em;
}
.logo{
    width:70px;
}
header{
    display:flex;
    justify-content: space-between;   
}
.hidemob{
    display:none;
}
.menu{
    width: 30px ;
    margin-top: 45%;
}
.pb_img{
    width:40%;
}
.subhead{
     font-size:1.1em;
}
.choose_img{
    width: 10%;
}
.black_container{
    width:100%;
    background-color: black;
    color: white;
    margin-top:2%;
    padding:2% 0 1% 0;
}
.gcol{
    text-decoration: none;
    color:grey;
}

nav ul{
    position:fixed; 
    width:60%;
    top:0;
    right:0;
    text-align:left;
    background: rgb(49, 49, 49);
    height:100%;
    z-index: 7;
    padding-top:3em;
}

nav ul li a{
    color:white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 3em;
}
nav ul li a:hover{
    background-color:rgb(66, 66, 66);
}
.exit_btn{
    margin-bottom: 1em;
    margin-top:-1.3em;
    margin-right: 1em;
    text-align:right;
}
.exit_btn img:hover {
    background-color:rgb(173, 20, 20);
    
}
.exit_btn img{
    width:1em;
    padding:.5em;
    cursor:pointer;
}
table, th, td {
   border: 3px solid white;
   border-collapse: collapse;
   color:white;
   width:50%;
   margin-left: auto;
   margin-right: auto;
}
.fore{
    margin: 1em;
}
.disp-inl{
    display: inline-flex;

}
.hid{
    display: none;
}
.hidem{
    display: none;
}
.inadd{
    margin-right: 3em ;
}
/* .blak_container{
    background-color: black;
    width:100%;
    text-align: center;
}
.tab{
    text-align: center;
} */ */

@media only screen and (min-width: 600px){
    .flxabv{
        display:felx;
        justify-content: space-between;
    }
    nav ul{
        width:30%;
    }
}